.BuildControls {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* flex: 1; */
  /* border: 1px solid black; */
}

.OrderButtons {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
